[submodule "NaxiStudioFlow"]
	path = NaxiStudioFlow
	url = https://github.com/BrunoCardosoFS/NaxiStudioFlow.git
[submodule "NaxiStudioMix"]
	path = NaxiStudioMix
	url = https://github.com/BrunoCardosoFS/NaxiStudioMix.git
[submodule "NaxiStudioControl"]
	path = NaxiStudioControl
	url = https://github.com/BrunoCardosoFS/NaxiStudioControl.git
[submodule "NaxiServer"]
	path = NaxiServer
	url = https://github.com/BrunoCardosoFS/NaxiServer.git
