*{
    margin: 0;
    padding: 0;
  }
  
  :root {
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
  
    --main-dark-bg: #2D3340;
    --main-dark-color-1: #1F232C;
    --main-dark-color-2: #191D24;
    --yellow-color-1: #FFA60A;
    --yellow-color-1-hover: #FFC257;
    --width-left: 60vw;
    --width-right: calc(40vw - 30px);
  }

  body{
    background-color: var(--main-dark-bg);
    color: #fff;
    overflow: hidden;
  }

  li{
    list-style: none;
  }

/* Estilizando as classes do layout */
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.spc-btw{
    justify-content: space-between;
}

.spc-evnl{
    justify-content: space-evenly;
}

.align-center{
    align-items: center;
}

.hght-240{
    height: 240px;
}

/* Estilizando os elementos dos Players */
#player-media{
    box-sizing: border-box;
    padding: 10px;
}

#players{
    width: var(--width-left);
    height: 185px;
}

.player{
    width: calc((100% / 3) - (20px / 3));
    height: 100%;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--main-dark-color-2);
    border: 2px solid var(--main-dark-color-2);
}

.player .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #00000050;
}

.player .overlay.off{
    visibility: collapse;
}

.player .overlay.on{
    visibility: visible;
}

.player .controls-player{
    width: 100%;
}

.player .btn-player{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--main-dark-color-1);
}

.player .btn-player:hover{
    background-color: var(--main-dark-bg);
}

.player .btn-player.btn-play{
    background-image: url(../../../assets/icons/play.svg);
}

.player .btn-player.btn-pause{
    background-image: url(../../../assets/icons/pause.svg);
}

.player .btn-player.btn-stop{
    background-image: url(../../../assets/icons/stop.svg);
}

.player .infos-player{
    width: 100%;
}

.player .infos-player .times-player{
    width: 100%;
}

.player .infos-player .time-bar{
    position: relative;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--main-dark-bg);
}

.player .infos-player .time-bar .current-bar{
    position: absolute;
    height: 100%;
    background-color: var(--yellow-color-1);
}

/* Estilizando os elementos da Commercial Area */
#commercial{
    width: var(--width-right);
    height: 240px;
    border-radius: 10px;
    background-color: var(--main-dark-color-2);
}


/* Estilizando os elementos da Tools Bar */
#tools{
    width: var(--width-left);
    height: 45px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--main-dark-color-2);
}

.btn-tools{
    width: 35px;
    height: 35px;
    margin-left: 5px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--yellow-color-1);
    border-radius: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
}

.btn-tools:hover{
    background-color: var(--yellow-color-1-hover);
}

#tools .tool-box{
    height: 35px;
    background-color: var(--yellow-color-1);
    border-radius: 10px;
    border: 1px solid #000;
    color: #000;
    font-weight: bold;
    box-sizing: border-box;
    padding: 5px;
}

#tools .tool-box.orange{
    background-color: #ff6500 !important;
}

#tools .tool-box.red{
    background-color: #ff0000 !important;
}

#tools .open-calendar{
    width: 28px;
    height: 100%;
    margin-left: 5px;
    background-image: url(../../../assets/icons/open.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

#tools .open-calendar:hover{
    background-color: #ffffff50
}

#tools #input-calendar{
    height: 100%;
    font-weight: bold;
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    background-color: transparent;
    border: none;
}

#tools .open-config{
    background-image: url(../../../assets/icons/config.svg);
    background-size: 80%;
}

#tools .save-playlist{
    background-image: url(../../../assets/icons/save.svg);
    background-size: 80%;
}

/* Estilizando os elementos da Playlist */
#list-media{
    padding: 0px 10px 10px 10px;
}

#playlist{
    width: var(--width-left);
    height: calc(100vh - 270px);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main-dark-color-1);
}

#playlist #hours{
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 7.5px;
    background-color: var(--main-dark-color-2);
    border-radius: 10px;
}

#playlist #hours li{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    color: #000;
    background-color: var(--yellow-color-1);
    border: 1px solid #000;
}

#playlist #hours li.active{
    background-color: var(--main-dark-bg);
}

#playlist #playlist-area{
    width: 100%;
    height: calc(100% - 55px);
}

#playlist #playlist-area #list{
    width: calc(100% - 55px);
    height: 100%;
    background-color: var(--main-dark-color-2);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#playlist #playlist-area #list li{
    padding: 5px 10px;
    border-bottom: 1px solid var(--main-dark-bg);
    cursor: pointer;
}

#playlist #playlist-area #playlist-tools{
    width: 45px;
    height: 100%;
    background-color: var(--main-dark-color-2);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
}


/* Estilizando os elementos da Medias */
#medias{
    width: var(--width-right);
    height: calc(100vh - 270px);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main-dark-color-2);
}