*{
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-dark-bg: #2D3340;
  --main-dark-color-1: #1F232C;
  --main-dark-color-2: #191D24;

  --yellow-color-1: #FFA60A;
}

body{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

li{
  list-style: none;
}

#main-player{
  width: 60%;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

#right-panel{
  width: calc(40% - 30px);
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
}

#commercial{
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--main-dark-color-2);
}

#tools-right{
  width: 100%;
  height: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--main-dark-color-2);
}

#players{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 185px;
}

.player{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: calc((100% / 3) - (20px / 3));
  height: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--main-dark-color-2);
  border: 2px solid var(--main-dark-color-2);
}

audio{
  width: 100%;
}

.player .controls-player{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.player .controls-player .btn-player{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.player .controls-player .btn-player:hover{
  background-color: #ffffff10;
}

.player .controls-player .btn-player.btn-play{
  background-image: url(./assets/icons/play.svg);
  background-size: contain;
}

.player .controls-player .btn-player.btn-pause{
  background-image: url(./assets/icons/pause.svg);
  background-size: contain;
}

.player .controls-player .btn-player.btn-stop{
  background-image: url(./assets/icons/stop.svg);
  background-size: contain;
}

.player .infos-player{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-audio .overlay{
  visibility: visible !important;
}

.player .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
  visibility: collapse;
  cursor: grabbing;
}

#tools{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  background-color: var(--main-dark-color-2);
  box-sizing: border-box;
  padding: 5px;
}

#tools .tools-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#tools .btn-tools{
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--yellow-color-1);
  border-radius: 10px;
  border: 1px solid #000;
}

#tools .btn-tools.open-config{
  background-image: url(./assets/icons/config.svg);
  background-size: 80%;
}

#tools .btn-tools.save-playlist{
  background-image: url(./assets/icons/save.svg);
  background-size: 84%;
}

#tools .calendar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  background-color: var(--yellow-color-1);
  border-radius: 10px;
  border: 1px solid #000;
  color: #000;
  font-weight: bold;
  box-sizing: border-box;
  padding: 5px;
}

#tools .open-calendar{
  width: 35px;
  height: 100%;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./assets/icons/open.svg);
  background-size: contain;
}

#tools .clock{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  background-color: var(--yellow-color-1);
  border-radius: 10px;
  border: 1px solid #000;
  color: #000;
  font-weight: bold;
  box-sizing: border-box;
  padding: 5px;
}

#tools .btn-tools.clock{
  background-image: url(./assets/icons/clock.svg);
  background-size: contain;
}


#directory{
  width: 100%;
  background-color: #fff;
  color: #000;
}

#playlist{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: calc(100% - 250px);
  border-radius: 10px;
  background-color: var(--main-dark-color-1);
}

#playlist-area{
  width: calc(100% - 20px);
  height: calc(100% - 75px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#playlist-tools{
  width: 45px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-dark-color-2);
  border-radius: 10px;
}

#playlist #hours{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: calc(100% - 20px);
  height: 45px;
  background-color: var(--main-dark-color-2);
  border-radius: 10px;
}

#playlist #hours li{
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #000;
  color: #000;
  font-weight: bold;
  list-style: none;
  border-radius: 10px;
  background-color: var(--yellow-color-1);
  cursor: pointer;
  box-sizing: border-box;
}

#playlist #list{
  width: calc(100% - 55px);
  height: 100%;
  background-color: var(--main-dark-color-2);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

#playlist #list li{
  list-style: none;
  width: 100%;
  border-bottom: 1px solid var(--main-dark-bg);
  cursor: pointer;
  margin-bottom: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}


#collection{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0px 10px 10px 10px;
}

#collection li:nth-of-type(1){
  font-weight: bold;
  margin-top: 10px;
  border-bottom: 1px solid var(--main-dark-bg);
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#collection li{
  cursor: pointer;
  margin-bottom: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: var(--main-dark-bg);
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
