*{
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-dark-bg: #2D3340;
  --main-dark-color-1: #1F232C;
  --main-dark-color-2: #191D24;

  --yellow-color-1: #FFA60A;
}

body{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

li{
  list-style: none;
}

#main-player{
  width: 60%;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

#right-panel{
  width: calc(40% - 30px);
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
}

#commercial{
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--main-dark-color-2);
}

#tools-right{
  width: 100%;
  height: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--main-dark-color-2);
}

#players{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 180px;
}

.player{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: calc((100% / 3) - (20px / 3));
  height: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--main-dark-color-2);
  border: 2px solid var(--main-dark-color-2);
}

audio{
  width: 100%;
}

.load-audio .player{
  cursor: grabbing;
  background-color: #6c0000;
}

#tools{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--main-dark-color-2);
}

#directory{
  width: 100%;
  background-color: #fff;
  color: #000;
}

#playlist{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: calc(100% - 250px);
  border-radius: 10px;
  background-color: var(--main-dark-color-1);
}

#playlist-area{
  width: calc(100% - 20px);
  height: calc(100% - 75px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#playlist-tools{
  width: 45px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-dark-color-2);
  border-radius: 10px;
}

#playlist #hours{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: calc(100% - 20px);
  height: 45px;
  background-color: var(--main-dark-color-2);
  border-radius: 10px;
}

#playlist #hours li{
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #000;
  list-style: none;
  border-radius: 10px;
  background-color: var(--yellow-color-1);
  cursor: pointer;
  box-sizing: border-box;
}

#playlist #list{
  width: calc(100% - 55px);
  height: 100%;
  background-color: var(--main-dark-color-2);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

#playlist #list li{
  list-style: none;
  width: 100%;
  border-bottom: 1px solid var(--main-dark-bg);
  cursor: pointer;
  margin-bottom: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}


#collection{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0px 10px 10px 10px;
}

#collection li:nth-of-type(1){
  font-weight: bold;
  margin-top: 10px;
  border-bottom: 1px solid var(--main-dark-bg);
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#collection li{
  cursor: pointer;
  margin-bottom: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: var(--main-dark-bg);
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
